.start-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bar {
    width: auto;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 20%;
    left: 0;
    margin-left: 5%;
    right: 0;

}

.search-bar-container {
    position: relative;
    width: 40%;
}

.search-bar {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: 2px solid black;
    padding: 0 40px 0 10px; 
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px; 
    pointer-events: none; 
}

.filters {
    display: flex;
    gap: 40px; 
    align-items: center;
    margin-right: 5%;
}

.filter-dropdown {
    width: auto;
    height: 40px;
    border-radius: 12px;
    border: 2px solid black;
    padding: 0 10px;
    font-size: 18px;
    background-color: white;
    cursor: pointer;
}

.filter-dropdown:focus {
    outline: none;
    border-color: #007BFF; 
}

.feedback-container {
    width: 65%;
    margin-top: 30%;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 20px;
}

.feedback {
    border-radius: 12px;
    padding: 0 0 15px;
    width: 77%;
}

.feedback-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #0A0593 ;
}

.feedback-tags {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.tag {
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.tag.entertainment {
    background-color: orange;
}

.tag.education {
    background-color: green;
}

.tag.answered {
    background-color: #007bff;
}

.feedback-description {
    font-size: 20px;
    color: #000000;
    line-height: 1.5;
}

input[type="text"]::placeholder{
    font-size: 18px;
}