body, #root, .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.bar {
    width: 100%;
    height: auto;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5%;
    box-sizing: border-box;
}

.search-bar-container {
    position: relative;
    width: 40%;
}

.search-bar {
    width: 100%;
    height: 40px;
    border-radius: 12px;
    border: 2px solid black;
    padding: 0 40px 0 10px; 
    box-sizing: border-box;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px; 
    pointer-events: none; 
}

.filters {
    display: flex;
    gap: 40px; 
    align-items: center;
    margin-right: 5%;
}

.filter-dropdown {
    width: auto;
    height: 40px;
    border-radius: 12px;
    border: 2px solid black;
    padding: 0 10px;
    font-size: 18px;
    background-color: white;
    cursor: pointer;
}

.filter-dropdown:focus {
    outline: none;
    border-color: #007BFF; 
}

.feedback-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 5%;
    margin: 0 auto;
    flex: 1;
}

.feedback {
    border-radius: 12px;
    padding: 15px;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
}

.feedback-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #0A0593 ;
}

.feedback-tags {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.tag {
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.feedback-description {
    font-size: 20px;
    color: #000000;
    line-height: 1.5;
}

input[type="text"]::placeholder{
    font-size: 18px;
}